{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(category_filter=["home"]) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
    {% endfor %}
    </ul>
  {% endif %}
  
{% endwith %}

<!--<div class="jumbotron"> -->
  <div class="col-md-4 mt-4 offset-md-4">
    <div class="card card-body mp-4 form-gradient">
      <form class="form-signin f" action="/" method="POST">
       
        <div class="form-group">   
          <center>            
            <h3 style="color:#171817"> Ingersar</h3>
          <!--<h3 style="color:#226918"> Ingresar Nueva Factura</h3>-->
        </center>
        </div>
        <div class="form-group username">         
           
          <input type="text" class="form-control" id="username" name="username" autocomplete="off" placeholder="usuario">
                   
                
        </div>
        <div class="form-group password">
          
          <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="clave">
        </div>
       
          <div class="form-group">
          <center>
            <button class=" btn btn-sm btn-primary form-boton" type="submit">Ingresar</button>
          </center>
          </div>
        
          </form>
    </div>
  </div>
<!--</div> -->


{% endblock%}
